@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black:  #151317;
  --violet: #512689;
  --gray:   #808185;
  --red:    #FF6161;
  --white:  #FFFFFF;
  --grayF8: #F8F8F8;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--grayF4);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', serif;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}